@font-face {
    font-family: 'duera';
    src: local('duera'), url(../fonts/duera.ttf) format('truetype');
    font-weight: 900;
  }

  .lalala{
    display: none;
  }


  .FirstImg{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .SecondImg{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    
  }
  .ThirdImg{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .FourthImg{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 7;
  }
  .FifthImg{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
    
  }
  .SixthImg{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
  }
